<div class="checkout-your-order">
  <div class="checkout-your-order-block">
    <div class="your-order-title-and-button">
      <div class="your-order-title">Ваше замовлення</div>
      <div class="your-order-button">Редагувати</div>
    </div>
    <div class="your-order-main-place">
      <div class="your-order-sale-item">
        <div class="your-order-name-and-image">
          <img src="./../src/img/work/commodity.jpg" alt="commodity" />
          <p>Календула лікарська</p>
        </div>
        <div class="your-order-count-and-price">
          <div class="your-order-count">1x</div>
          <div class="your-order-price">6 грн</div>
        </div>
      </div>
      <div class="your-order-sale-item">
        <div class="your-order-name-and-image">
          <img src="./../src/img/work/commodity.jpg" alt="commodity" />
          <p>Календула лікарська</p>
        </div>
        <div class="your-order-count-and-price">
          <div class="your-order-count">1x</div>
          <div class="your-order-price">6 грн</div>
        </div>
      </div>
    </div>
    <div class="your-order-description">
      <div class="your-order-description-count-and-price">
        <div class="your-order-description-count">
          <span>2 </span>товари на суму:
        </div>
        <div class="your-order-description-price"><span>12 </span>грн</div>
      </div>
      <div class="your-order-description-delivery">
        <div class="your-order-description-delivery-title">Доставка:</div>
        <div class="your-order-description-delivery-price">
          За тарифами перевізника
        </div>
      </div>
      <div class="your-order-description-separator"></div>
      <div class="your-order-description-total">
        <div class="your-order-description-total-title">Всього:</div>
        <div class="your-order-description-total-price"><span>6 </span>грн</div>
      </div>
    </div>
  </div>
  <div class="checkout-your-privacy-policy">Оформити замовлення</div>
  <button class="checkout-your-confirm-order">Підтвердити замовлення</button>
</div>
