<div class="catalog-grid-content">
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
  <div class="grid-content-item">
    <a href="#" class="grid-content-item-image">
      <img
        src="../../../src/img/work/image-grid-content.png"
        alt="image-grid-content"
    /></a>
    <a href="#" class="grid-content-item-text"
      >Лікарські культури (малий європакет)</a
    >
  </div>
</div>
