<div class="catalog-sort-content">
  <div class="catalog-sort-menu-container">
    <!--=include catalog-sort-menu.html-->
  </div>
  <div class="catalog-sort-content">
    <div class="sort-content-sorting">
      <h5>Сортування:</h5>
      <input
        type="radio"
        class="btn-check"
        name="options-base"
        id="sorting-option1"
        autocomplete="off"
        checked
      />
      <label class="btn" for="sorting-option1">за популярністю</label>

      <input
        type="radio"
        class="btn-check"
        name="options-base"
        id="sorting-option2"
        autocomplete="off"
      />
      <label class="btn" for="sorting-option2">дешевші</label>

      <input
        type="radio"
        class="btn-check"
        name="options-base"
        id="sorting-option3"
        autocomplete="off"
      />
      <label class="btn" for="sorting-option3">дорожчі</label>
    </div>
  </div>
</div>
