<div class="dropdown">
  <button
    id="dropdown-btn"
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span>дешевші</span>
    <i class="svg__box">
      @@include('mixins/svg-icon.html', {"name": "arrow_bottom", "class":
      "svg_arrow-bottom__box"})
    </i>
  </button>
  <ul id="select-sort">
    <li class="dropdown-item" data-value="за популярності">за популярності</li>
    <li class="dropdown-item" data-value="дешевші">дешевші</li>
    <li class="dropdown-item" data-value="доррожчі">дорожчі</li>
  </ul>
</div>
