<div class="catalog-sort-menu">
  <div class="accordion sort-menu-block" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button mobile"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFour"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseFour"
        >
          Ви вибрали
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFour"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body catalog-sort-your-choice">
          <div class="sort__replaceable-elements-container">
            <div class="sort__replaceable-elements-box">
              <div class="sort__replaceable-elements-name">Вид:</div>
              <div
                class="sort__replaceable-elements-item"
                id="sortRepleacebleElement5"
              >
                <label for="sortRepleacebleElementButton5">Дворічний</label>
                <button
                  type="button"
                  class="modal_feedback-button-close sort_closer-button"
                  data-target="sortRepleacebleElement5"
                  aria-label="Close"
                  id="sortRepleacebleElementButton5"
                >
                  @@include('mixins/svg-icon.html', {"name": "closer", "class":
                  "svg-size_sort-elements-closer color-dark-gray"})
                </button>
              </div>
              <div
                class="sort__replaceable-elements-item"
                id="sortRepleacebleElement6"
              >
                <label for="sortRepleacebleElementButton6">Дворічний</label>
                <button
                  type="button"
                  class="modal_feedback-button-close sort_closer-button"
                  data-target="sortRepleacebleElement6"
                  aria-label="Close"
                  id="sortRepleacebleElementButton6"
                >
                  @@include('mixins/svg-icon.html', {"name": "closer", "class":
                  "svg-size_sort-elements-closer color-dark-gray"})
                </button>
              </div>
              <div
                class="sort__replaceable-elements-item"
                id="sortRepleacebleElement7"
              >
                <label for="sortRepleacebleElementButton7">Дворічний</label>
                <button
                  type="button"
                  class="modal_feedback-button-close sort_closer-button"
                  data-target="sortRepleacebleElement7"
                  aria-label="Close"
                  id="sortRepleacebleElementButton7"
                >
                  @@include('mixins/svg-icon.html', {"name": "closer", "class":
                  "svg-size_sort-elements-closer color-dark-gray"})
                </button>
              </div>
            </div>
            <div class="sort__replaceable-elements-box">
              <div class="sort__replaceable-elements-name">Ціна:</div>
              <div
                class="sort__replaceable-elements-item"
                id="sortRepleacebleElement8"
              >
                <label for="sortRepleacebleElementButton8">2 - 20 грн</label>
                <button
                  type="button"
                  class="modal_feedback-button-close sort_closer-button"
                  data-target="sortRepleacebleElement8"
                  aria-label="Close"
                  id="sortRepleacebleElementButton8"
                >
                  @@include('mixins/svg-icon.html', {"name": "closer", "class":
                  "svg-size_sort-elements-closer color-dark-gray"})
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog-sort-decor-line"></div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button mobile"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFive"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseFive"
        >
          Вид
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFive"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body catalog-sort-kind">
          <div class="form-check">
            <label class="form-check-label" for="sortInput7">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="sortInput7"
              />
              <div class="sort-menu__box-for-checkbox">
                @@include('mixins/svg-icon.html', {"name": "checkmark", "class":
                "svg-size_checkmark color-gray"})
              </div>
              <span>Багаторічний</span>
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="sortInput8">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="sortInput8"
              />
              <div class="sort-menu__box-for-checkbox">
                @@include('mixins/svg-icon.html', {"name": "checkmark", "class":
                "svg-size_checkmark color-gray"})
              </div>
              <span>Дворічний</span>
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="sortInput9">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="sortInput9"
              />
              <div class="sort-menu__box-for-checkbox">
                @@include('mixins/svg-icon.html', {"name": "checkmark", "class":
                "svg-size_checkmark color-gray"})
              </div>
              <span>Кімнатний</span>
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="sortInput10">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="sortInput10"
              />
              <div class="sort-menu__box-for-checkbox">
                @@include('mixins/svg-icon.html', {"name": "checkmark", "class":
                "svg-size_checkmark color-gray"})
              </div>
              <span>Однорічний</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog-sort-decor-line"></div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button mobile"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSix"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseSix"
        >
          Грами
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseSix"
        class="catalog-sort-gram accordion-collapse collapse show"
      >
        <div class="form-check">
          <label class="form-check-label" for="sortInput11">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="sortInput11"
            />
            <div class="sort-menu__box-for-checkbox">
              @@include('mixins/svg-icon.html', {"name": "checkmark", "class":
              "svg-size_checkmark color-gray"})
            </div>
            <span>0.1</span>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label" for="sortInput12">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="sortInput12"
            />
            <div class="sort-menu__box-for-checkbox">
              @@include('mixins/svg-icon.html', {"name": "checkmark", "class":
              "svg-size_checkmark color-gray"})
            </div>
            <span>0.2</span>
          </label>
        </div>
      </div>
    </div>
    <div class="catalog-sort-decor-line"></div>
  </div>
  <div class="catalog-sort-menu-price">
    <h2>Ціна, грн</h2>
    <div class="range_container">
      <div class="sliders_control">
        <input id="fromSlider1" type="range" value="0" min="0" max="40" />
        <input id="toSlider1" type="range" value="20" min="0" max="40" />
      </div>
      <div class="form_control">
        <div class="form_control_container">
          <input
            class="form_control_container__time__input"
            type="number"
            id="fromInput1"
            value="0"
            min="0"
            max="40"
          />
        </div>
        <span class="sort-form-separator">-</span>
        <div class="form_control_container">
          <input
            class="form_control_container__time__input"
            type="number"
            id="toInput1"
            value="20"
            min="0"
            max="40"
          />
        </div>
        <button type="button" class="sort-form-button-ok">ОК</button>
      </div>
    </div>
  </div>
</div>
