<div class="container">
  <section class="first-screen">
    <div class="first-screen_catalog">
      <div class="first-screen_catalog-list">
        <div class="first-screen_catalog-wriper">
          <a href="#" class="first-screen_catalog__link">
            <div class="first-screen_catalog__item">
              <div class="svg__box">
                @@include('mixins/svg-icon.html', {"name": "ecolist", "class":
                "color-green svg-size_ecolist"})
              </div>
              <p class="first-screen_catalog__p">Насіння овочів європакет</p>
              <div class="svg__box svg__box-margin-left">
                @@include('mixins/svg-icon.html', {"name": "arrow_right",
                "class": "color-black svg_arrow__box"})
              </div>
            </div>
          </a>
          <div class="catalog_block-list">
            <!--=include catalog_list/catalog_list-1.html-->
          </div>
          <a href="#" class="first-screen_catalog__link">
            <div class="first-screen_catalog__item">
              <div class="svg__box">
                @@include('mixins/svg-icon.html', {"name": "psychiatry",
                "class": "color-green svg-size_psychiatry"})
              </div>
              <p class="first-screen_catalog__p">Насіння овочів паке гигант</p>
              <div class="svg__box svg__box-margin-left">
                @@include('mixins/svg-icon.html', {"name": "arrow_right",
                "class": "color-black svg_arrow__box"})
              </div>
            </div>
          </a>
          <div class="catalog_block-list">
            <!--=include catalog_list/catalog_list-2.html-->
          </div>
          <a href="#" class="first-screen_catalog__link">
            <div class="first-screen_catalog__item">
              <div class="svg__box">
                @@include('mixins/svg-icon.html', {"name": "flower", "class":
                "color-green svg-size_flower"})
              </div>
              <p class="first-screen_catalog__p">Насіння квітів</p>
              <div class="svg__box svg__box-margin-left">
                @@include('mixins/svg-icon.html', {"name": "arrow_right",
                "class": "color-black svg_arrow__box"})
              </div>
            </div>
          </a>
          <div class="catalog_block-list">
            <!--=include catalog_list/catalog_list-1.html-->
          </div>
          <a href="#" class="first-screen_catalog__link">
            <div class="first-screen_catalog__item">
              <div class="svg__box">
                @@include('mixins/svg-icon.html', {"name": "grass", "class":
                "color-green svg-size_grass"})
              </div>
              <p class="first-screen_catalog__p">Газонні трави</p>
              <div class="svg__box svg__box-margin-left">
                @@include('mixins/svg-icon.html', {"name": "arrow_right",
                "class": "color-black svg_arrow__box"})
              </div>
            </div>
          </a>
          <div class="catalog_block-list">
            <!--=include catalog_list/catalog_list-2.html-->
          </div>
          <a href="#" class="first-screen_catalog__link">
            <div class="first-screen_catalog__item">
              <div class="svg__box">
                @@include('mixins/svg-icon.html', {"name": "bunny", "class":
                "color-green svg-size_bunny"})
              </div>
              <p class="first-screen_catalog__p">Кормові культури</p>
              <div class="svg__box svg__box-margin-left">
                @@include('mixins/svg-icon.html', {"name": "arrow_right",
                "class": "color-black svg_arrow__box"})
              </div>
            </div>
          </a>
          <div class="catalog_block-list">
            <!--=include catalog_list/catalog_list-1.html-->
          </div>
          <a href="#" class="first-screen_catalog__link">
            <div class="first-screen_catalog__item">
              <div class="svg__box">
                @@include('mixins/svg-icon.html', {"name": "map", "class":
                "color-green svg-size_map"})
              </div>
              <p class="first-screen_catalog__p">Серія Зарубіжної селекції</p>
              <div class="svg__box svg__box-margin-left">
                @@include('mixins/svg-icon.html', {"name": "arrow_right",
                "class": "color-black svg_arrow__box"})
              </div>
            </div>
          </a>
          <div class="catalog_block-list">
            <!--=include catalog_list/catalog_list-2.html-->
          </div>
          <a href="#" class="first-screen_catalog__link">
            <div class="first-screen_catalog__item">
              <div class="svg__box">
                @@include('mixins/svg-icon.html', {"name": "mini-search",
                "class": "color-green svg-size_mini-search"})
              </div>
              <p class="first-screen_catalog__p">
                Серія Пропуск в світ високого<br />
                врожаю інкрустоване
              </p>
              <div class="svg__box svg__box-margin-left">
                @@include('mixins/svg-icon.html', {"name": "arrow_right",
                "class": "color-black svg_arrow__box"})
              </div>
            </div>
          </a>
          <div class="catalog_block-list">
            <!--=include catalog_list/catalog_list-1.html-->
          </div>
          <a href="#" class="first-screen_catalog__link">
            <div class="first-screen_catalog__item">
              <div class="svg__box">
                @@include('mixins/svg-icon.html', {"name": "hand_heart",
                "class": "color-green svg-size_hand_heart"})
              </div>
              <p class="first-screen_catalog__p">
                Серія Щедра грядка (інкрусоване)
              </p>
              <div class="svg__box svg__box-margin-left">
                @@include('mixins/svg-icon.html', {"name": "arrow_right",
                "class": "color-black svg_arrow__box"})
              </div>
            </div>
          </a>
          <div class="catalog_block-list">
            <!--=include catalog_list/catalog_list-2.html-->
          </div>
        </div>
      </div>
    </div>
    <div class="swiper_container-big">
      <!--=include swiper.html-->
    </div>
  </section>
</div>
