<footer>
  <div class="container">
    <!--=include pre_footer.html-->
    <div class="footer_block-box">
      <div class="footer__main-block_logo">
        <img src="./img/logo.svg" alt="logo" />
        <div class="footer_social-icons">
          <div class="footer_social_link">
            @@include('mixins/svg-icon.html', {"name": "youtube", "class":
            "color-green svg-size_footer-youtube"})
          </div>
          <div class="footer_social_link">
            @@include('mixins/svg-icon.html',{"name": "viber", "class":
            "color-green svg-size_footer-viber"})
          </div>
          <div class="footer_social_link">
            @@include('mixins/svg-icon.html', {"name": "facebook", "class":
            "color-green svg-size_footer-viber"})
          </div>
        </div>
      </div>
      <div class="footer__main">
        <div class="footer__main-block footer__main-block_cultura">
          <a href="#" class="footer_link">Культура</a>
          <a href="#" class="footer_link">Про компанію</a>
          <a href="#" class="footer_link">Прайс</a>
          <a href="#" class="footer_link">Акції</a>
          <a href="#" class="footer_link">Доставка</a>
          <a href="#" class="footer_link">Замовлення</a>
        </div>
        <div class="footer__main-block footer__main-block_conditions">
          <a href="#" class="footer_link">Умови використання сайту</a>
          <a href="#" class="footer_link">Усі категорії</a>
          <a href="#" class="footer_link">Доставка та оплата</a>
          <a href="#" class="footer_link">Повернення товару</a>
          <a href="#" class="footer_link">Контакти</a>
          <a href="#" class="footer_link">Співпраця з нами</a>
        </div>
        <div class="footer__main-block footer__main-block_articles">
          <p class="footer_link_green">Популярні статті</p>
          <a href="#" class="footer_link">"Євро Овочі"</a>
          <a href="#" class="footer_link">"Саджанці Профі"</a>
          <a href="#" class="footer_link">"Ботанічний Кошик"</a>
          <a href="#" class="footer_link">"Експерт Агро"</a>
          <a href="#" class="footer_link">"Екологічне Поле"</a>
        </div>
        <div class="footer__main-block footer__main-block_articles_contacts">
          <div href="#" class="footer_link-contacts">
            <div class="svg__box">
              @@include('mixins/svg-icon.html', {"name": "phone", "class":
              "color-black svg-size_footer-phone"})
            </div>
            <div class="footer_link-contacts_provider footer_margin-top">
              Kyivstar
            </div>
            <a
              href="tel:+380993235503"
              class="footer__link-number footer_margin-top"
              >+38 (099) 323-55-03</a
            >
          </div>
          <div href="#" class="footer_link-contacts">
            <div class="svg__box">
              @@include('mixins/svg-icon.html', {"name": "phone", "class":
              "color-black svg-size_footer-phone"})
            </div>
            <div class="footer_link-contacts_provider footer_margin-top">
              Lifecell
            </div>
            <a
              href="tel:+380672825244"
              class="footer__link-number footer_margin-top"
              >+38 (067) 282-52-44</a
            >
          </div>
          <div href="#" class="footer_link footer_link-contacts">
            <div class="svg__box">
              @@include('mixins/svg-icon.html', {"name": "mail", "class":
              "color-black svg-size_footer-mail"})
            </div>
            <a
              href="mailto:planteua2017@gmail.com"
              class="footer__link-email footer_margin-top"
              >planteua2017@gmail.com</a
            >
          </div>
          <div href="#" class="footer_link-contacts">
            <div class="svg__box">
              @@include('mixins/svg-icon.html', {"name": "mark", "class":
              "color-black svg-size_footer-mark"})
            </div>
            <p>
              Україна, <br />
              Хмельницька область, <br />
              м. Хмельницький,
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      Інтернет-магазин насіння, саджанців, добрив і засобів захисту рослин
      "Plante" © 2023
    </div>
  </div>
</footer>
