<header>
  <div class="container">
    <div class="header-inside"></div>
    <div class="header__upper-block">
      <ul class="header__list">
        <li class="header_list-item"><a href="#">Культура</a></li>
        <li class="header_list-item"><a href="#">Прайс</a></li>
        <li class="header_list-item"><a href="#">Акції</a></li>
        <li class="header_list-item"><a href="#">Доставка</a></li>
        <li class="header_list-item"><a href="#">Контакти</a></li>
      </ul>
      <div class="header__contacts">
        <div class="header__phone">
          <a href="tel:+380507411310">(050) 741-13-10</a>
          @@include('mixins/svg-icon.html', {"name": "phone", "class":
          "color-red"})
          <div class="header__phone-block">
            <a href="tel:+380681958018">(068) 195-80-18</a>
            <a href="tel:+380636792601">(063) 679-26-01</a>
          </div>
        </div>
        <div class="header_feedback">Зворотній зв’язок</div>
      </div>
    </div>
    <div class="header__bottom-block">
      <a href="#" class="header__logo">
        <img src="./img/logo.svg" alt="logo" />
        @@include('mixins/svg-icon.html', {"name": "logo", "class":
        "color-red"})
      </a>
      <button class="header__button-catalog">
        <div class="header__catalog-icon">
          <img src="./img/icon/menu.png" alt="menu" />
        </div>
        <p>Каталог</p>
      </button>
      <input type="text" class="header__search" placeholder="Я шукаю..." />
      <a href="#" class="header__navigation-a"
        ><img src="./img/icon/person.png" alt="person" /></a
      ><a href="#" class="header__navigation-a"
        ><img src="./img/icon/like.png" alt="like" /></a
      ><a href="#" class="header__navigation-a"
        ><img src="./img/icon/cart.svg" alt="cart" />
        <span class="absolute_count">100</span></a
      >
    </div>
  </div>
</header>
