<div class="many_swipers">
  <div class="mini-swiper">
    <div class="many_swipews-description">
      <div class="many_swipers_labels-and-button">
        <div class="many_swipers_labels">
          <h3>Популярні</h3>
          <h6 class="many_swipers_h6-number-1">Хіт продажів</h6>
        </div>
        <div class="many_swipers_button">
          <div class="mini-swiper-button-prev1 mini-swiper-button">
            <div class="svg__box">
              @@include('mixins/svg-icon.html', {"name": "arrow_left", "class":
              "color-black svg_arrow__box"})
            </div>
          </div>
          <div class="mini-swiper-button-next1 mini-swiper-button">
            <div class="svg__box">
              @@include('mixins/svg-icon.html', {"name": "arrow_right", "class":
              "color-black svg_arrow__box"})
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mini_swiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="many_swipers__sales-cell">
            <a href="#" class="sales-cell_img">
              <img
                src="../../../src/img/work/mini_swiper-1.png"
                alt="mini_swiper-1"
              />
            </a>
            <div class="sales-cell_name-and-favourite">
              <a href="#">Царська ікра</a>
              <button>
                <a class="svg__box button_like">
                  @@include('mixins/svg-icon.html', {"name": "like", "class":
                  "color-red svg-size_heart-red"})
                </a>
                <a class="svg__box button_like-active">
                  @@include('mixins/svg-icon.html', {"name": "heart-red",
                  "class": "color-red svg-size_heart-red"})
                </a>
              </button>
            </div>
            <div class="sales-cell_price-and-cart">
              <p class="sales-cell_price">3.40 грн</p>
              <a href="#" class="svg__box button_cart">
                <div class="svg__box">
                  @@include('mixins/svg-icon.html', {"name": "cart", "class":
                  "color-green svg-size_cart"})
                </div>
              </a>
            </div>
            <div class="sales-cell_in-stock">
              <p class="sales-cell_in-stock-p">В наявності</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="many_swipers__sales-cell">
            <a href="#" class="sales-cell_img">
              <img
                src="../../../src/img/work/mini_swiper-2.png"
                alt="mini_swiper-1"
              />
            </a>
            <div class="sales-cell_name-and-favourite">
              <a href="#">Царська ікра</a>
              <button>
                <a class="svg__box button_like">
                  @@include('mixins/svg-icon.html', {"name": "like", "class":
                  "color-red svg-size_heart-red"})
                </a>
                <a class="svg__box button_like-active">
                  @@include('mixins/svg-icon.html', {"name": "heart-red",
                  "class": "color-red svg-size_heart-red"})
                </a>
              </button>
            </div>
            <div class="sales-cell_price-and-cart">
              <p class="sales-cell_price">3.40 грн</p>
              <a href="#" class="svg__box button_cart">
                <div class="svg__box">
                  @@include('mixins/svg-icon.html', {"name": "cart", "class":
                  "color-green svg-size_cart"})
                </div>
              </a>
            </div>
            <div class="sales-cell_in-stock">
              <p class="sales-cell_in-stock-p">В наявності</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="many_swipers__sales-cell">
            <a href="#" class="sales-cell_img">
              <img
                src="../../../src/img/work/mini_swiper-3.png"
                alt="mini_swiper-1"
              />
            </a>
            <div class="sales-cell_name-and-favourite">
              <a href="#">Царська ікра</a>
              <button>
                <a class="svg__box button_like">
                  @@include('mixins/svg-icon.html', {"name": "like", "class":
                  "color-red svg-size_heart-red"})
                </a>
                <a class="svg__box button_like-active">
                  @@include('mixins/svg-icon.html', {"name": "heart-red",
                  "class": "color-red svg-size_heart-red"})
                </a>
              </button>
            </div>
            <div class="sales-cell_price-and-cart">
              <p class="sales-cell_price">3.40 грн</p>
              <a href="#" class="svg__box button_cart">
                <div class="svg__box">
                  @@include('mixins/svg-icon.html', {"name": "cart", "class":
                  "color-green svg-size_cart"})
                </div>
              </a>
            </div>
            <div class="sales-cell_in-stock">
              <p class="sales-cell_in-stock-p">В наявності</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="many_swipers__sales-cell">
            <a href="#" class="sales-cell_img">
              <img
                src="../../../src/img/work/mini_swiper-4.png"
                alt="mini_swiper-1"
              />
            </a>
            <div class="sales-cell_name-and-favourite">
              <a href="#">Царська ікра</a>
              <button>
                <a class="svg__box button_like">
                  @@include('mixins/svg-icon.html', {"name": "like", "class":
                  "color-red svg-size_heart-red"})
                </a>
                <a class="svg__box button_like-active">
                  @@include('mixins/svg-icon.html', {"name": "heart-red",
                  "class": "color-red svg-size_heart-red"})
                </a>
              </button>
            </div>
            <div class="sales-cell_price-and-cart">
              <p class="sales-cell_price">3.40 грн</p>
              <a href="#" class="svg__box button_cart">
                <div class="svg__box">
                  @@include('mixins/svg-icon.html', {"name": "cart", "class":
                  "color-green svg-size_cart"})
                </div>
              </a>
            </div>
            <div class="sales-cell_in-stock">
              <p class="sales-cell_in-stock-p">В наявності</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="many_swipers__sales-cell">
            <a href="#" class="sales-cell_img">
              <img
                src="../../../src/img/work/mini_swiper-5.png"
                alt="mini_swiper-1"
              />
            </a>
            <div class="sales-cell_name-and-favourite">
              <a href="#">Царська ікра</a>
              <button>
                <a class="svg__box button_like">
                  @@include('mixins/svg-icon.html', {"name": "like", "class":
                  "color-red svg-size_heart-red"})
                </a>
                <a class="svg__box button_like-active">
                  @@include('mixins/svg-icon.html', {"name": "heart-red",
                  "class": "color-red svg-size_heart-red"})
                </a>
              </button>
            </div>
            <div class="sales-cell_price-and-cart">
              <p class="sales-cell_price">3.40 грн</p>
              <a href="#" class="svg__box button_cart">
                <div class="svg__box">
                  @@include('mixins/svg-icon.html', {"name": "cart", "class":
                  "color-green svg-size_cart"})
                </div>
              </a>
            </div>
            <div class="sales-cell_in-stock">
              <p class="sales-cell_in-stock-p">В наявності</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="many_swipers__sales-cell">
            <a href="#" class="sales-cell_img">
              <img
                src="../../../src/img/work/mini_swiper-1.png"
                alt="mini_swiper-1"
              />
            </a>
            <div class="sales-cell_name-and-favourite">
              <a href="#">Царська ікра</a>
              <button>
                <a class="svg__box button_like">
                  @@include('mixins/svg-icon.html', {"name": "like", "class":
                  "color-red svg-size_heart-red"})
                </a>
                <a class="svg__box button_like-active">
                  @@include('mixins/svg-icon.html', {"name": "heart-red",
                  "class": "color-red svg-size_heart-red"})
                </a>
              </button>
            </div>
            <div class="sales-cell_price-and-cart">
              <p class="sales-cell_price">3.40 грн</p>
              <a href="#" class="svg__box button_cart">
                <div class="svg__box">
                  @@include('mixins/svg-icon.html', {"name": "cart", "class":
                  "color-green svg-size_cart"})
                </div>
              </a>
            </div>
            <div class="sales-cell_in-stock">
              <p class="sales-cell_in-stock-p">В наявності</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="many_swipers__sales-cell">
            <a href="#" class="sales-cell_img">
              <img
                src="../../../src/img/work/mini_swiper-2.png"
                alt="mini_swiper-1"
              />
            </a>
            <div class="sales-cell_name-and-favourite">
              <a href="#">Царська ікра</a>
              <button>
                <a class="svg__box button_like">
                  @@include('mixins/svg-icon.html', {"name": "like", "class":
                  "color-red svg-size_heart-red"})
                </a>
                <a class="svg__box button_like-active">
                  @@include('mixins/svg-icon.html', {"name": "heart-red",
                  "class": "color-red svg-size_heart-red"})
                </a>
              </button>
            </div>
            <div class="sales-cell_price-and-cart">
              <p class="sales-cell_price">3.40 грн</p>
              <a href="#" class="svg__box button_cart">
                <div class="svg__box">
                  @@include('mixins/svg-icon.html', {"name": "cart", "class":
                  "color-green svg-size_cart"})
                </div>
              </a>
            </div>
            <div class="sales-cell_in-stock">
              <p class="sales-cell_in-stock-p">В наявності</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
