<div class="pre_footer">
  <div class="pre_footer_block">
    <div class="pre_footer__text">
      <h5>Новинки, Акції та найкращі пропозиції</h5>
      <p>Залишіть свій e-mail, аби не пропускати останні новини</p>
    </div>
    <div class="pre_footer__inputs">
      <input
        type="text"
        class="pre_footer_name pre_footer-element"
        placeholder="Ваше ім’я"
      />
      <input
        type="text"
        class="pre_footer_email pre_footer-element"
        placeholder="Ваш e-mail"
      />
      <button class="pre_footer-button pre_footer-element">Підписатися</button>
    </div>
  </div>
</div>
