<div class="swiper_container">
  <div class="swiper my_swiper">
    <ul class="swiper-pagination">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
    </ul>
    <div class="swiper-button-prev">
      @@include('mixins/svg-icon.html', {"name": "arrow_right", "class":
      "color-black size_arrow"})
    </div>
    <div class="swiper-button-next">
      @@include('mixins/svg-icon.html', {"name": "arrow_right", "class":
      "color-black size_arrow"})
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#">
          <img
            src="../../../src/img/work/main_big-slide_1.png"
            alt="main_big-slide_1"
        /></a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img
            src="../../../src/img/work/main_big-slide_2.png"
            alt="main_big-slide_2"
        /></a>
      </div>
    </div>
  </div>
</div>
