.first-screen {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20rem;
  align-items: start;
  margin-bottom: 100rem;
}

.first-screen_catalog-list {
  margin-left: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10rem;
  border-radius: 10rem;
  min-height: 437rem;
}

.first-screen_catalog__a {
  position: relative;
  width: 300rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-screen_catalog__a:hover {
  background: #e9e8e8;
}

.first-screen_catalog__a:hover .first-screen_catalog__p {
  width: 200rem;
}

.first-screen_catalog__item {
  margin: 8rem 12rem;
  display: flex;
  align-items: flex-start;
  gap: 10rem;
}

.first-screen_catalog__p {
  width: 208rem;
}

.catalog_box-list {
  display: none;
  position: absolute;
  width: 380%;
  margin: auto 0 auto auto;
  height: 437rem;
  top: 0rem;
  left: 300rem;
}

.catalog_list-box {
  margin: 0 0 0 20rem;
  width: 100%;
  background-color: $gray;
  border-radius: 10rem;
  padding: 20rem;
}

.first-screen_catalog__a:hover + .catalog_box-list {
  display: flex;
}

.catalog_box-list:hover {
  display: flex;
}

.catalog_full_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10rem 40rem;
  max-height: 389rem;
  max-width: 200rem;
}
.catalog_list__block {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 196rem;
}

.catalog__name-block {
  color: $green-dark;
  line-height: 19.2rem;
  font-size: 16rem;
  font-weight: 400;
}

.catalog_list-item-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 192rem;
}

.catalog__list-item {
  font-size: 14rem;
  font-weight: 400;
  line-height: 16.8rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
