footer {
  background: #f8f8f8;
}

.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 61rem;
}

.footer_social-icons {
  margin-top: 30rem;
  display: flex;
  gap: 21rem;
}

.footer_social_a {
  width: 24rem;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__main-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16rem;
}

.footer__main-block_logo {
  gap: 0;
  width: 129rem;
}

.footer__main-block_cultura {
  width: 194rem;
}

.footer__main-block_conditions,
.footer__main-block_articles {
  width: 214rem;
}
.footer_margin-top {
  margin-top: 2.5rem;
}

.footer_link_green {
  color: $green-dark;
}

.footer_link-contacts {
  display: flex;
  flex-direction: row;
  gap: 20rem;
}

.footer_link-contacts_provider {
  width: 57rem;
}
