.mobile_menu {
  background: $gray;
  display: none;
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  transition: left 0.3s ease;
  z-index: 4;
  .first-screen_catalog-list {
    display: block;
    top: 75rem;
    padding: 10rem 16rem 6rem 16rem;
    .first-screen_catalog__a {
      width: 100%;
      .first-screen_catalog__item {
        width: 100%;
        padding: 8rem 12rem 8rem 13rem;
        margin: 0;
        .first-screen_catalog__p {
          margin: auto 0;
        }
      }
    }
  }
}

.mobile_menu.active {
  left: 0; /* Показує меню при відкритті */
  background: $gray;
}
