$breakpoint_tablet: 767px;
$breakpoint_laptop: 1023px;
$breakpoint_desktop: 1439px;

@mixin tablet {
  @media (max-width: $breakpoint_tablet) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $breakpoint_laptop) {
    @content;
  }
}

html {
  font-size: 1px;

  @include laptop {
    font-size: calc(1vw / 7.68);
  }

  @include tablet {
    font-size: calc(1vw / 3.6);
  }
}

@media (hover: hover) {
  .header_list-item a:hover,
  .footer_link:hover {
    color: #2a8927;
    font-weight: 500;
  }
  .header__navigation-link:hover {
    background: #e9e8e8;
  }
  .header__phone:hover .header__phone-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__button-catalog:hover {
    color: $green-dark;
  }
}

@media (max-width: $breakpoint_desktop) {
  .catalog_list-box {
    min-width: 800rem;
  }

  .footer__main-block_articles {
    display: none;
  }
}

@media (max-width: 1138px) {
  .catalog_list-box {
    min-width: 550rem;
  }
}

@media (max-width: $breakpoint_laptop) {
  .padding-from-header {
    padding-top: 75rem;
  }

  .section-home {
    gap: 40rem;
  }

  header {
    padding: 8rem 0;
    .logo {
      display: none;
    }
  }

  .bg-gray--active {
    top: -10rem;
  }

  .mobile_menu {
    display: block;
  }

  .header_list-item {
    pointer-events: none;
  }

  .header__button-catalog--active {
    background-color: #caf0d2;
    border: 1rem solid $gray;
  }

  .header__button-catalog {
    padding: 18rem;
    width: 53rem;
    height: 53rem;
  }

  .header__bottom-block {
    gap: 0;
  }

  .header__button-catalog,
  .header__search {
    margin-right: 8rem;
  }

  .header__search {
    font-size: 14rem;
    line-height: 21rem;
    background-image: none;
  }

  .header__navigation {
    min-width: 152rem;
  }

  .header__upper-block,
  .header__button-catalog-p {
    display: none;
  }

  .absolute_count {
    line-height: 18rem;
    padding: 0rem 6rem;
    top: 4rem;
    right: -8rem;
  }

  .section-home {
    margin-bottom: 40rem;
    gap: 40rem;
  }

  .first-screen {
    justify-content: center;
    gap: 0;
    .big-swiper {
      width: 100%;
      height: min-content;
      border-radius: 0;
    }
    .mini-container {
      display: none;
    }
  }

  .swiper_container {
    max-width: 100%;
    margin-right: 0;
    height: 100%;
  }

  .swiper-slide-active {
    width: 100%;
  }

  .my_swiper .swiper-pagination,
  .catalog_box-list,
  .catalog_list-box,
  .first-screen_catalog-list,
  .first-screen .first-screen_catalog,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .many-swipers_labels h3 {
    font-size: 20rem;
    line-height: 20rem;
  }

  .many-swipers_h6 {
    font-size: 14rem;
    line-height: 21rem;
    white-space: nowrap;
  }
  .mini_swiper1,
  .mini_swiper2,
  .mini_swiper3 {
    width: 100%;
  }

  .mini-swiper1,
  .mini-swiper2 {
    margin-bottom: 40rem;
  }

  .mini-swiper-button-next1,
  .mini-swiper-button-prev1,
  .mini-swiper-button-next2,
  .mini-swiper-button-prev2,
  .mini-swiper-button-next3,
  .mini-swiper-button-prev3 {
    display: none;
  }

  .many-swipers__sales-cell {
    gap: 8rem;
  }

  .sales-cell_price-and-cart p,
  .sales-cell_name-and-favourite a {
    font-weight: 400;
    font-size: 14rem;
    line-height: 21rem;
  }

  .about-us_main-block h3 {
    font-size: 24rem;
    line-height: 24rem;
  }

  .about-us {
    gap: 24rem;
    flex-direction: column;
  }

  .about-us_green-block {
    padding: 16rem;
    display: flex;
    align-items: flex-start;
  }

  .about-us_element-text h5 {
    font-size: 18rem;
    line-height: 18rem;
  }

  .about-us_element-text p {
    font-size: 14rem;
    line-height: 21rem;
  }

  .pre_footer_block {
    align-items: flex-start !important;
  }

  .pre_footer__text {
    align-items: flex-start;
  }

  .pre_footer__text h5 {
    font-weight: 600;
    font-size: 20rem;
    line-height: 20rem;
  }

  .pre_footer__text p {
    font-size: 14rem;
    line-height: 21rem;
  }

  .pre_footer-element {
    height: 53rem;
    font-size: 14rem;
    line-height: 21rem;
  }

  .footer_block-box {
    flex-direction: column;
    gap: 30rem;
    .footer__main-block_logo {
      width: 100%;
      margin-right: 28rem;
      height: 89rem;
      display: flex;
      flex-direction: row;
      gap: 0;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .footer_social-icons {
    margin-right: 28rem;
  }

  .footer__bottom {
    margin-top: 30rem;
  }
}

@media (max-width: $breakpoint_tablet) {
  .modal {
    --bs-modal-width: 100%;
  }
  .modal-dialog {
    margin: 0;
  }
  .modal-content {
    max-width: 768rem;
    width: 100%;
    padding: 30rem 16rem;
    gap: 16rem;
    border-radius: 10rem;
    .fs-5 {
      font-size: 18rem !important;
      line-height: 18rem !important;
    }
    .modal_feedback-prefooter-text,
    p {
      font-weight: 400 !important;
      font-size: 14rem !important;
      line-height: 21rem !important;
    }
    input {
      font-weight: 400 !important;
      font-size: 14rem !important;
      line-height: 21rem !important;
    }
  }
  .section-home {
    gap: 32rem;
  }

  .mobile_menu {
    left: -100%;
    width: 100%;
  }

  .first-screen_catalog__p,
  .header__list-mobile {
    font-size: 14rem !important;
    line-height: 21rem !important;
  }

  .header__search {
    width: max-content;
  }

  .link_close-mobile {
    display: none;
  }

  .h6_hit-sales {
    background: #ffe9d4;
  }

  .about-us {
    gap: 32rem;
  }

  .about-us_green-block {
    min-width: 0;
  }

  .about-us_green-block h3 {
    font-size: 18rem;
    line-height: 18rem;
  }

  .about-us_element-text h5 {
    font-size: 20rem;
    font-weight: 700;
    line-height: 20rem;
  }

  .about-us_green-block ul li {
    font-size: 14rem;
    line-height: 21rem;
  }

  .pre_footer {
    padding: 30rem 20rem;
  }

  .pre_footer-element {
    width: 100%;
    margin: 0 36rem;
  }

  .pre_footer__text h5 {
    font-weight: 700;
  }

  .mobile-bottom-block {
    padding: 0;
  }

  .mobile-bottom_secondary-box {
    display: block;
  }

  .mobile-bottom_main-box {
    padding: 16rem;

    flex-direction: column !important;
    gap: 32rem;
    .header__list-mobile {
      gap: 16rem;
    }
    .mobile-bottom-block__contacts {
      align-items: flex-start;
    }
  }

  .footer__main-block_cultura {
    width: 94rem;
  }

  .footer {
    font-size: 14rem;
    font-weight: 400;
    line-height: 21rem;
    text-align: left;
  }
}
