$green-dark: #2a8927;
$dark-red: #ff4444;
$black: #121212;
$gray: #f8f8f8;

.color-black {
  fill: $black;
}

.color-red {
  fill: $dark-red;
}

.color-green {
  fill: $green-dark;
}

.svg__box {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg__big-box {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg_arrow__box {
  width: 6.25px !important;
  height: 11px !important;
}

.svg_arrow-bottom__box {
  margin-left: 5px;
  width: 11px;
  height: 6.25px;
}

.footer__social-icons_svg {
  max-width: 20px;
}

.svg-height_20px {
  min-height: 23px;
}

.svg-size_ecolist {
  width: 17px;
  height: 16.99px;
}

.svg-size_psychiatry {
  width: 18px;
  height: 18px;
}

.svg-size_flower {
  width: 18.41px;
  height: 20px;
}

.svg-size_grass {
  width: 20px;
  height: 16px;
}

.svg-size_bunny {
  width: 14px;
  height: 20px;
}

.svg-size_map {
  width: 18px;
  height: 18px;
}

.svg-size_mini-search {
  width: 18px;
  height: 18px;
}

.svg-size_hand_heart {
  width: 21px;
  height: 20.5px;
}

.svg-size_menu {
  width: 18px;
  height: 16px;
}
.svg-size_closer {
  width: 14px;
  height: 14px;
}
