<div class="main-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="./../src/img/work/commodity.jpg" alt="commodity" />
    </div>
    <div class="swiper-slide">
      <img src="./../src/img/work/commodity.jpg" alt="commodity" />
    </div>
    <div class="swiper-slide">
      <img src="./../src/img/work/commodity.jpg" alt="commodity" />
    </div>
    <!-- Додайте більше слайдів за потреби -->
  </div>
  <!-- Додайте навігаційні кнопки -->
  <div
    class="swiper-button-prev_commodity swiper-button-prev commodity_swiper-button-prev"
  >
    @@include('mixins/svg-icon.html', {"name": "arrow_right", "class":
    "color-black svg_arrow__box"})
  </div>
  <div
    class="swiper-button-next_commodity swiper-button-next commodity_swiper-button-next"
  >
    @@include('mixins/svg-icon.html', {"name": "arrow_right", "class":
    "color-black svg_arrow__box"})
  </div>
</div>
<div class="thumb-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="./../src/img/work/commodity.jpg" alt="commodity" />
    </div>
    <div class="swiper-slide">
      <img src="./../src/img/work/commodity.jpg" alt="commodity" />
    </div>
    <div class="swiper-slide">
      <img src="./../src/img/work/commodity.jpg" alt="commodity" />
    </div>
    <!-- Додайте більше слайдів за потреби -->
  </div>
</div>
