<div class="commodity_buy">
  <div class="commodity_buy-title">
    <h3>Календула лікарська</h3>
    <div class="commodity_buy-title-desc">
      <div class="commodity_buy-title-availability">
        В наявності <span>(20 од.)</span>
      </div>
      <div class="commodity_buy-title-code">Код: <span>5791</span></div>
      <div class="commodity_buy-title-producer">
        Виробник: <span>Plante</span>
      </div>
    </div>
  </div>
  <div class="commodity_buy-weight">
    <h6>Вага</h6>
    <div class="commodity_buy-weight-radio"></div>
  </div>
  <div class="commodity_buy-price">
    <h4>Ціна</h4>
    <h3>3 грн</h3>
  </div>
  <div class="commodity_buy-count">
    <div class="commodity_buy-count-input"></div>
    <button>Купити</button>
  </div>
</div>
