<div class="commodity_description">
  <div class="commodity_description-desc">
    <h4 class="commodity_description-title">Опис</h4>
    <div class="commodity_description-text">
      <p>
        Календула лікарська - це сорт лікарської календули, який відзначається
        яскравими та різноманітними квітами зі збільшеною кількістю пелюсток та
        яскравими кольорами. Ця рослина відома не тільки своєю декоративністю,
        але і застосовується в народній медицині завдяки своїм лікарським
        властивостям.
      </p>
      <p>Зовнішній вигляд та аромат:</p>
      <ul>
        <li>Період цвітіння: серпень-вересень</li>
        <li>Колір квітки: помаранчевий</li>
        <li>Діаметр квітки: 2-5 см</li>
        <li>Висота рослини: 30 см</li>
        <li>Колір листя: зелений</li>
        <li>Аромат: легкий, приємний</li>
      </ul>
    </div>
  </div>
  <div class="commodity_description-characteristics">
    <h4 class="commodity_description-characteristics-title">Характеристики</h4>
    <div class="commodity_description-characteristics-body">
      <div class="commodity_description-characteristics-item">
        <div class="commodity_description-characteristics-first">Виробник</div>
        <div class="commodity_description-characteristics-second"></div>
        <div class="commodity_description-characteristics-third">Plante</div>
      </div>
      <div class="commodity_description-characteristics-item">
        <div class="commodity_description-characteristics-first commodity-mt">
          Категорія
        </div>
        <div
          class="commodity_description-characteristics-second commodity-mt"
        ></div>
        <div class="commodity_description-characteristics-third big two_row">
          <div>Лікарські культури</div>
          <div>(малий європакет)</div>
        </div>
      </div>
      <div class="commodity_description-characteristics-item">
        <div class="commodity_description-characteristics-first">Вага</div>
        <div class="commodity_description-characteristics-second"></div>
        <div class="commodity_description-characteristics-third big">0.2 г</div>
      </div>
    </div>
  </div>
</div>
