<div class="commodity_swiper-and-buy">
  <div class="commodity-breadcrumbs container-breadcrums">
    <div class="container">
      <!--=include commodity_breadcrumbs.html -->
    </div>
  </div>
  <div class="container">
    <div class="commodity_swiper">
      <div class="swiper-container">
        <!--=include commodity_swiper.html -->
      </div>
      <div class="commodity_buy-container">
        <!--=include commodity_buy.html -->
      </div>
    </div>
    <!--=include commodity_description.html -->
  </div>
</div>
